aiosqlite==0.17.0
asgiref==3.5.2
atlastk==0.13.2
attrs==22.1.0
autobahn==22.7.1
Automat==20.2.0
cffi==1.15.1
channels==3.0.5
constantly==15.1.0
cryptography==38.0.1
daphne==3.0.2
distlib==0.3.6
dj-database-url==1.0.0
Django==4.1.1
django-credit-cards==0.4.1
django-debug-toolbar==3.6.0
django-filter==22.1
django-heroku==0.3.1
django-jazzmin==2.5.0
django-seed==0.3.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.0
Faker==14.2.1
filelock==3.8.0
gunicorn==20.1.0
hyperlink==21.0.0
idna==3.4
incremental==21.3.0
iso8601==1.0.2
Markdown==3.4.1
mysqlclient==2.1.1
Pillow==9.2.0
platformdirs==2.5.2
psycopg2==2.9.3
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==2.5.0
pyOpenSSL==22.0.0
pypika-tortoise==0.1.6
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==0.21.0
pytz==2022.2.1
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.2
toposort==1.7
tortoise==0.1.1
tortoise-orm==0.19.2
Twisted==22.8.0
twisted-iocpsupport==1.0.2
txaio==22.2.1
typing_extensions==4.3.0
tzdata==2022.2
virtualenv==20.16.5
whitenoise==6.2.0
zope.interface==5.4.0
