
{%   extends 'base.html'   %}
{% load static %}




{% block title %} Cart{% endblock %}
{%  block content  %}

{% if not request.user.is_authenticated or request.user.is_anonymous %}
<div class="alert alert-danger: alert-dismissible fade show" role="alert"
    
style="
font-size: 20px ;
    margin: 52px ;
color: #721c24 !important ;
background-color: rgb(225 182 186) !important ;
border-color: #f5c6cb !important ;
"
>
you must be <a class="text-dark" href="{% url 'login' %}"> login </a>

</div>
{% elif order %}
<div class="my-form container p-5 my-5 rounded border border-warning">
    <h2 class="text-center">Cart</h2>
    <hr>

    <h5>
        Full name: {{order.user.username}}
        <hr>
        Order Number: {{order.id}} 
        <a href="{% url 'payment' %}" style="font-size: 0.8em;" class="btn bcs btn-outline-secondery btn-sm float-right m-1">Checkout</a>
        <br><br> with total: {{total}}$ <br><br> for {{orderdetails.count}} products
    </h5>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Image</th>
            <th scope="col">Quantity</th>
            <th scope="col">Change Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">subtotals</th>
          </tr>
        </thead>
        <tbody>
    {% for line in orderdetails %}
          <tr>
            <th scope="row" style="    padding-top: 14px ;">{{forloop.counter}}</th>
            <td  style="    padding-top: 14px ;">{{ line.product.name }}</td>
            <td><img style="height: 43px ;width: 43px ;" src="{{line.product.photo.url}}" alt=""></td>
            <td  style="    padding-top: 14px ;">{{ line.quantity }}</td>
            <td  style="    padding-top: 14px!important ;">
                <a href="{% url 'sub_qty' orderdetails_id=line.id %}" class=" btn-outline-danger btn-sm" style="font-size:1.875rem!important ;">-</a>
                <a href="{% url 'add_qty' orderdetails_id=line.id %}" class=" btn-outline-danger btn-sm" style="font-size:1.875rem!important ;">+</a>
            </td>
            <td  style="    padding-top: 14px ;">{{ line.price }}</td>
            <td  style=" padding-top: 14px ;
            color: #f44336 ;
            font-weight: bolder ;   ">{% widthratio line.quantity 1 line.price  %}$</td>
            <td>
                <a style="margin-top: 1rem ;
                display: inline-block ;
                padding: 0 ! important ;
                background: #f44336 ;
                color: #fff ;
                font-size: 13px ;
                cursor: pointer ;" href="{% url 'remove_from_cart' orderdetails_id=line.id %}" class="btn btn-outline-danger btn-sm">Remove</a>
            </td>
          </tr>
    {% empty %}
    <h5 class="alert alert-warning">
        No details here
    </h5>
    {% endfor %}
        </tbody>
      </table>


    {% endif %}

</div>

{%  endblock %}